<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-2.5.xsd 
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<context:annotation-config />
	<context:component-scan base-package="com.loyaltyone.problem.airportsim"></context:component-scan>

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:airport-simulator-${env}.ini</value>
		</property>
	</bean>

	<import resource="poller.xml" />
	<!-- LOGGING -->
	<bean id="log4jInitialization"
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean"
		p:targetClass="org.springframework.util.Log4jConfigurer"
		p:targetMethod="initLogging" p:arguments-ref="logConfigs" />

	<util:list id="logConfigs">
		<value>classpath:log4j.xml</value>
	</util:list>
	<!-- LOGGING -->

	<bean id="messageHandler"
		class="com.loyaltyone.problem.airportsim.inputmessageprocessor.MessageHandler" />

	<bean id="flightForLandNDepart"
		class="com.loyaltyone.problem.airportsim.model.FlightForLandNDepart" />
	<bean id="flightInBlockingQueue"
		class="com.loyaltyone.problem.airportsim.model.FlightsInBlockingQueue"
		scope="singleton" />
	<bean id="jsonProcessor"
		class="com.loyaltyone.problem.airportsim.inputmessageprocessor.JSONProcessor" />

	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="5" />
		<property name="maxPoolSize" value="10" />
		<property name="queueCapacity" value="25" />
	</bean>

	<!-- <bean id="runwaySimulator" class="com.loyaltyone.problem.airportsim.runway.RunwaySimulator"> 
		<constructor-arg ref="taskExecutor" /> </bean> -->

	<!-- <bean id="priorityBQ" class ="java.util.concurrent.PriorityBlockingQueue" 
		> <constructor-arg type="com.loyaltyone.problem.airportsim.model.FlightForLandNDepart" 
		/> </bean> -->

	<!-- <bean id="eventBus" class="com.google.common.eventbus.EventBus" /> -->
	<bean id="subscriber"
		class="com.loyaltyone.problem.airportsim.runway.RunwaySimulator" />

	

	<bean id="eventBus" class="com.google.common.eventbus.AsyncEventBus">
		<constructor-arg ref="taskExecutor" />
	</bean>

	<bean id="startDateTime" class="com.loyaltyone.problem.airportsim.model.StartDateTime" />

</beans>